* {
  box-sizing: border-box;
  margin: 0;
}
.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}
@media (min-width: 768px) {
  .wrapper.wrapper-space-tablet {
    width: 95%;
  }
}
.wrapper .row {
  display: flex;
}
.wrapper .row .col {
  width: 100%;
}
@media (max-width: 425px) {
  .wrapper .row {
    flex-wrap: wrap;
  }
  .wrapper .row .col {
    width: 100%;
  }
  .wrapper .row .col-bar {
    width: 100%;
  }
}
.input {
  width: 100%;
  font-family: inherit;
  font-size: 0.9rem;
  color: inherit;
  padding: 10px;
  border: none;
  box-shadow: 0 0 3.5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.input.valid-error {
  border: 1px solid #d81612;
  box-shadow: 0 0 3.5px rgba(216, 22, 18, 0.25);
}
.input.valid-success {
  border: 1px solid #00ca08;
  box-shadow: 0 0 3.5px rgba(0, 202, 8, 0.25);
}
.btn {
  display: inline-block;
  text-decoration: none;
  font: inherit;
  letter-spacing: 0.02rem;
  padding: 10px 20px;
  border: none;
  background: transparent;
  box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  border-radius: 5px;
}
.btn:hover {
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary-full {
  background: linear-gradient(-130deg, #5686ee, rgba(86, 134, 238, 0.8) 100%);
  background-size: 1px 200%;
  color: #fff;
}
.btn-primary-full:hover {
  background-position: 100%;
}
.btn-primary-outline {
  border: 1px solid #5686ee;
  background: #fff;
  color: #5686ee;
}
.btn-primary-outline:hover {
  color: #fff;
  background: #5686ee;
}
.btn-primary-text {
  color: #5686ee;
  box-shadow: none;
}
.btn-primary-text:hover {
  background: rgba(86, 134, 238, 0.075);
}
.btn-secondary-full {
  background: linear-gradient(-130deg, #ee2624, rgba(238, 38, 36, 0.8) 100%);
  background-size: 1px 200%;
  color: #fff;
}
.btn-secondary-full:hover {
  background-position: 100%;
}
.btn-secondary-outline {
  border: 1px solid #ee2624;
  background: #fff;
  color: #ee2624;
}
.btn-secondary-outline:hover {
  color: #fff;
  background: #ee2624;
}
.btn-secondary-text {
  color: #ee2624;
  box-shadow: none;
}
.btn-secondary-text:hover {
  background: rgba(238, 38, 36, 0.075);
}
.btn-green-full {
  background: linear-gradient(-130deg, #00ca08, rgba(0, 202, 8, 0.8) 100%);
  background-size: 1px 200%;
  color: #fff;
}
.btn-green-full:hover {
  background-position: 100%;
}
.btn-green-outline {
  border: 1px solid #00ca08;
  background: #fff;
  color: #00ca08;
}
.btn-green-outline:hover {
  color: #fff;
  background: #00ca08;
}
.btn-green-text {
  color: #00ca08;
  box-shadow: none;
}
.btn-green-text:hover {
  background: rgba(0, 202, 8, 0.075);
}
.card {
  display: block;
  box-shadow: 0 0 3.5px rgba(0, 0, 0, 0.25);
  margin: 0 15px;
  background: #fff;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.card.h-100 {
  height: 100%;
}
.card.h-100 .body {
  height: 100%;
}
.card .head {
  background: rgba(0, 0, 0, 0.05);
  padding: 12px 15px;
  font-size: 1.15rem;
  box-shadow: 0 0 3.5px rgba(0, 0, 0, 0.25);
  position: relative;
}
.card .body {
  padding: 25px 15px;
  position: relative;
}
.card .footer {
  background: rgba(0, 0, 0, 0.05);
  padding: 8px 15px;
  font-size: 0.8rem;
  box-shadow: 0 0 3.5px rgba(0, 0, 0, 0.25);
  position: relative;
}
.alert {
  display: block;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0 0 3.5px rgba(0, 0, 0, 0.25);
}
.alert.alert-success {
  background: #00ca08;
  color: #fff;
}
.alert.alert-warning {
  background: #ffe422;
}
.alert.alert-error {
  background: #d81612;
  color: #fff;
}
.alert.alert-info {
  background: #219d9f;
  color: #fff;
}
.label {
  display: inline-block;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 5px;
}
.label-blue {
  background: linear-gradient(-130deg, #5686ee, rgba(86, 134, 238, 0.8) 100%);
  color: #fff;
}
.label-red {
  background: linear-gradient(-130deg, #d81612, rgba(216, 22, 18, 0.8) 100%);
  color: #fff;
}
.label-green {
  background: linear-gradient(-130deg, #00ca08, rgba(0, 202, 8, 0.8) 100%);
  color: #fff;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
}
.modal.active {
  display: flex;
  justify-content: center;
}
.modal > div {
  width: 60%;
  margin-top: 5%;
  margin-bottom: auto;
}
.modal .modal-close-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.fd-row {
  flex-direction: row;
}
.fd-column {
  flex-direction: column;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.jc-center {
  justify-content: center;
}
.jc-between {
  justify-content: space-between;
}
.jc-around {
  justify-content: space-around;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
.ai-center {
  align-items: center;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.inputs {
  padding: 25px;
  margin-bottom: 50px;
}
.inputs .input {
  margin-bottom: 15px;
}
.buttons .btn {
  margin: 25px;
}
.alert {
  margin: 20px;
}
.label {
  margin: 20px;
}
/*# sourceMappingURL=style.css.map */